

{% load static %}
<!doctype html>
<html lang="en" lang="en" style="background-color: darkgray">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>photon pictures</title>
</head>
<body style="background-color: darkgray">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="{% static '/mysite/images/title.png' %}" width="150" height="50"/>
    <div class="container">
        {#      <a class="navbar-brand" href="#">Explore</a>#}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="{% url "home" %}">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="{%  url "members" %}">Members</a>
                <a class="nav-item nav-link" href="{% url "shorts" %}">Shorts</a>
                <a class="nav-item nav-link" href="{% url "activities" %}">Activities</a>
                <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Coming soon...</a>
            </div>

            <div class="navbar-nav">
                <a class="nav-link social" href="https://www.instagram.com/uiucphoton2019/">
                    <img src="{% static '/mysite/images/ins.png' %}" width="39" height="33" class="social"/>
                </a>
                <a class="nav-link social" href="https://www.weibo.com/u/6824071762?refer_flag=1005055013_&is_hot=1">
                    <img src="{% static '/mysite/images/weibo.png' %}" width="39" height="33" class="social"/>
                </a>
                <a class="nav-link social" href="https://www.facebook.com/photonpicturesuiuc/">
                    <img src="{% static '/mysite/images/fb.png' %}" width="33" height="33" class="social"/>
                </a>
            </div>
        </div>
</nav>
<h1 style="margin-left: 500px; margin-top: 200px; color:orangered"> Your username doesn't exist. </h1>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>